###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Authentication Details
authdetails.json

# Test Files
test.json

#Android studio - Source: http://stackoverflow.com/questions/16736856/
*.apk
*.ap_
*.class
./src/Android/bin/
./src/Android/gen/
./src/Android/build/
.gradle/
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
local.properties

